* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

span {
  color: #DAA520;
}

nav {
  background-color: rgba(51, 51, 51, 0.7);
}

#menu-check {
  display: none;
}

.menu {
  color: #000000;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.links ul {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  display: none;
  z-index: 100;
  backdrop-filter: blur(10px);
  padding: 0;
}

#menu-check:checked ~ .menu #menu-icon {
  display: none;
}

#close-icon {
  display: none;
}

#menu-check:checked ~ .menu #close-icon {
  display: block;
}

#menu-check:checked ~ .links ul {
  display: flex;
}

.links ul li a {
  color: #000000;
  text-decoration: none;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}

.links ul li a:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-content {
  text-align: center;
  margin-top: 50px;
}

header p {
  padding: 0;
  margin: 0;
}

.form-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-data {
  display: flex;
  width: 100%;
  margin: 20px 0;
  flex-flow: row wrap;
  justify-content: space-between
}

.form-data input {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}

.form-data select {
  width: 9rem;
  padding: 10px;
  border: #000000 2px solid;
  border-radius: 8px;
}

/* .booking-content{
    display: flex;
    flex-flow: row nowrap;
} */
.btn button {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  padding: 10px;
  
  color: black;
  background-color: #2C8898;
  border-color: #156b7a;
  border-radius: 8px;
}

form {
  margin-bottom: 30px;
}
.form-data select {
  width: 12rem;
}
.copyright {
  text-align: center;
  border-top: black solid 2px;
  background-color: #EAE3D7;
  margin: 0;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .links ul {
    display: flex;
    flex-flow: row wrap;
  }

  .menu {
    display: none;
  }

  .links ul li a {
    padding: 10px;
    border-radius: 20px;
  }

  .links ul {
    position: static;
    width: auto;
    background-color: transparent;
  }

  .links ul li a:hover {
    background-color: #000000;
  }

  .form-data {
    width: 50%;
  }

  .form-data label {
    margin-left: 5px;
  }
  .btn button{
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .form-data select {
    width: 16rem;
  }
}
